body {
  background: url("https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?cs=srgb&dl=wood-texture-background-pine-82256.jpg&fm=jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
