<!-- static -->
{% load static %}
<!-- bootstrap -->
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <!-- head block -->
    {% block head %}
    <!-- endblock -->
    {% endblock %}
    <title>Gallery</title>
  </head>
  <body>
    <!-- body block -->
    {% block body %}
    <!-- endblock -->
    {% endblock %}
  </body>
</html>
