<!-- static -->
{% load static %}
<!-- bootstrap -->
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'navbar.js' %}"></script>
    <title>Gallery</title>
  </head>
  <body>
    <nav class="container-fluid" id="top">
      <a class="app_badge" href="{% url 'welcome' %}">Home</a>
      <a class="categories" href="#">Categories</a>
      <a class="location" href="#">Location</a>
      <a id="dash" href="#">Dashboad</a>
    </nav>

    <!-- back to top widget -->
    <a class="widget" id="top-widget" href="#top"
      ><span>
        go top
      </span></a
    >

    <!-- search widget -->
    <span class="widget" id="bottom-widget"> search </span>

    <div class="location_options">
      <ul>
        <li><a class="top_link" href="#">Nairobi</a></li>
        <li><a href="#">Mombasa</a></li>
        <li><a href="#">Nakuru</a></li>
        <li><a class="bottom_link" href="#">Marsabit</a></li>
      </ul>
    </div>
    <div class="category_options">
      <ul>
        <li><a class="top_link" href="#">Food</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Sports</a></li>
        <li><a class="bottom_link" href="#">Memes</a></li>
      </ul>
    </div>

    <!-- app body -->
    <div class="app-body container">
      <!-- should be grid -->
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          porro non accusantium in ab temporibus impedit fuga vitae quam hic,
          obcaecati illo nemo tempora adipisci quas laborum dicta voluptas aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro
          quam odit aliquam commodi voluptatum modi laudantium minus aut
          reprehenderit, blanditiis quibusdam veritatis adipisci ex fugit
          voluptas illo! Eaque rerum nesciunt, rem odio adipisci dignissimos
          harum, a commodi vitae veniam, cum ea illo nostrum ut illum totam
          voluptatum aliquam unde natus modi vel? Assumenda blanditiis maxime
          similique, enim cupiditate vitae earum quas tempore possimus porro!
          Illum rerum voluptates alias voluptatibus rem labore velit atque sunt
          perspiciatis. Tenetur, quo modi explicabo rem nobis commodi possimus
          quaerat, voluptas, earum laborum distinctio obcaecati eos velit quae.
          Ducimus eos ea amet ipsa neque nulla hic qui obcaecati, sit, totam vel
          nemo nihil officiis dolore praesentium molestiae perspiciatis. Tempora
          quo, quis sed itaque, nihil porro minima non, aperiam nesciunt libero
          unde accusantium. Voluptatum eum numquam esse expedita, dolore
          possimus dolores magni ut unde blanditiis beatae maxime ex sed
          voluptatibus porro, id culpa. Unde, fuga beatae? Ut voluptatibus
          temporibus quo, repudiandae numquam odit similique voluptas deleniti
          accusamus saepe impedit totam placeat excepturi beatae debitis qui sit
          cupiditate veniam. Mollitia necessitatibus labore excepturi deserunt
          odit? Corporis laudantium officia alias sapiente quos quis ullam unde,
          maxime dolorum explicabo ad voluptate iusto nemo fuga id modi corrupti
          blanditiis quasi! Fugiat eligendi nostrum sunt quia molestiae! Ipsa
          incidunt labore accusamus, consequuntur modi quam saepe voluptate sint
          adipisci asperiores ipsam cupiditate laudantium blanditiis, officiis
          ab. Commodi animi aliquam, magnam quis aspernatur, natus numquam aut
          nobis nam, consequatur corporis qui quaerat? Quos aperiam voluptas
          earum sed. Molestias tempora repudiandae voluptatibus ducimus laborum.
          Natus perferendis nihil, ducimus distinctio neque consequatur, ut vel
          sed in deleniti aliquid corrupti. Dolores praesentium, velit quasi
          aliquid iure voluptate nihil iste quae. Exercitationem recusandae amet
          necessitatibus, repellendus minus similique! Explicabo ipsa, fuga enim
          laboriosam earum, delectus et iste dolore harum ipsum itaque, nesciunt
          odit rem sapiente commodi nihil? Minus nemo dicta rem asperiores
          numquam eos illo aliquid culpa dolores, aut aliquam amet quos magni.
          Inventore molestiae omnis animi minima tempore doloribus ab
          praesentium perferendis debitis. Autem perferendis soluta rerum iste?
          Illum aspernatur nihil quis, nam nostrum possimus repudiandae, odit
          eius dolorem pariatur eum temporibus at nulla eveniet a optio aliquam
          ullam? Qui voluptates distinctio officiis voluptatibus at est,
          necessitatibus quo placeat repellat sit dolore voluptate animi nostrum
          natus aperiam illo aut nihil omnis fuga minus quaerat! Distinctio
          labore ipsam doloribus? Reiciendis illum totam nobis laudantium, a
          impedit inventore dignissimos amet id ipsam harum quia deserunt esse
          delectus iusto molestiae, nihil modi dolorem eum. Doloribus porro
          corporis id vero dolores possimus harum? Optio, amet quia minima
          perferendis in est cupiditate dolores possimus, praesentium ullam hic
          ab officia similique. Sunt quod optio itaque blanditiis veniam ullam
          repudiandae odit labore doloremque suscipit voluptates iste, ad vel
          assumenda dolorum atque nostrum eveniet, soluta placeat, nesciunt
          animi dolor eius? Error iure nobis eos a laudantium! Quam, excepturi!
          Nisi, error nulla! Dolorem sint adipisci nihil corrupti, rem
          laboriosam nemo quae. Esse sequi fuga eveniet fugiat reiciendis et
          ipsa sunt aut. Eos harum quidem molestias accusamus porro sed nemo
          tempora excepturi, fugiat ullam distinctio totam accusantium dolor
          eius incidunt, ea nihil? Ullam eligendi saepe explicabo laboriosam
          maiores enim repudiandae eum nostrum qui doloribus? Sapiente cumque in
          voluptates commodi non illum ratione iure vero aliquam expedita.
          Molestias maxime illum cumque eligendi ullam obcaecati at
          reprehenderit deleniti nobis laboriosam? Iste eius ut qui culpa
          deserunt. Asperiores totam optio nostrum culpa tenetur officiis cumque
          ullam animi illo accusantium. Sed eaque necessitatibus aspernatur
          consequuntur nisi itaque ex officia mollitia laborum fugiat facere
          odit sunt eum quaerat quae quasi, unde dolor sit nostrum nemo
          voluptatum harum est blanditiis? In ipsam nostrum fugit ab aperiam
          quaerat autem beatae? Dolore autem quod nostrum repudiandae velit, quo
          fugiat dolorum ullam voluptatibus laboriosam impedit nesciunt laborum
          rerum veritatis voluptate minus expedita iure provident ex voluptas
          quos similique atque qui doloremque! Totam hic numquam quo rerum
          quisquam illo voluptatem quia esse possimus minima cumque dolorem
          nobis consequatur repellat quasi iste inventore, eaque enim blanditiis
          itaque alias cum eius laudantium iure! Ducimus tenetur delectus nulla
          expedita itaque cumque est, laborum et maxime! Ullam sit tempore
          exercitationem! At, fugiat ipsum nemo nihil libero sapiente, eum
          obcaecati quae quisquam harum accusantium consequatur eos doloremque,
          similique praesentium repudiandae quo! Placeat dolorum maiores eius
          praesentium harum, in vel, perferendis voluptates, animi dolorem
          debitis rerum sed error iure cum ea minus officiis facilis modi at
          voluptate nisi. Eaque minus sapiente dignissimos accusantium iusto,
          nobis quibusdam expedita quae? Explicabo illum dolorem nostrum neque
          dolores officia, enim nesciunt. Explicabo odit quo sed, ducimus
          inventore assumenda officia laboriosam nostrum consequuntur distinctio
          quisquam qui corporis et quaerat quia nisi velit, magni tenetur libero
          incidunt quas sequi, reprehenderit consectetur! Fugit tempore quaerat
          quod, at dicta aspernatur quia excepturi voluptatum perferendis sunt a
          accusamus, veritatis impedit eligendi iste architecto doloremque ad
          recusandae! Soluta ipsum assumenda enim, debitis quae, quis facilis
          facere in magnam cumque, nisi nostrum pariatur ut rem modi ratione
          repudiandae! Praesentium deleniti sed error fugit, enim rerum. Sit
          quaerat ut, doloremque, fuga, aliquid temporibus incidunt quam quod
          soluta eligendi ipsum asperiores consequuntur. Labore at illo
          aspernatur expedita, ullam, esse beatae id ea officiis nihil porro
          explicabo quo consectetur soluta reiciendis? Eveniet obcaecati nihil
          velit nisi aut exercitationem optio, nam praesentium vitae laudantium
          earum omnis animi similique harum architecto consequatur inventore,
          cum eaque porro eligendi. Explicabo vitae consectetur alias
          dignissimos eveniet voluptate dolorum, voluptates, nesciunt eum earum,
          doloribus beatae consequatur at tempore. Maiores eius ab repellat in
          eos laborum. Recusandae, magni totam odio consectetur neque molestiae
          reprehenderit, quod facere accusamus voluptatem quae deserunt eligendi
          perferendis! Nesciunt magni facilis amet minima inventore quis
          accusamus quo, repellat aperiam nemo? Assumenda repudiandae odit
          placeat ad tenetur beatae, soluta dicta laudantium natus incidunt,
          porro eius quo quas vero, adipisci sed perferendis excepturi magni
          illo. Aliquam commodi aspernatur corrupti eos perferendis sunt?
          Repellendus, ex voluptatibus veniam doloribus eaque tempora soluta
          exercitationem, incidunt modi maiores odio, cumque amet iusto
          assumenda vel aliquam itaque facilis iure nihil aspernatur est maxime
          magni? Mollitia quae soluta adipisci provident nisi pariatur
          doloribus, officiis voluptas fugiat placeat, iste modi similique amet
          impedit fugit eligendi cum autem dolores enim laudantium quisquam?
          Aliquid tenetur quis harum. Quidem odio pariatur minima. Harum,
          voluptatibus repellat corporis aspernatur nisi hic tempore quia. Ipsum
          nam reiciendis rerum esse laudantium laboriosam asperiores, corrupti
          debitis a accusantium saepe minima quidem, cum temporibus quae sequi
          beatae aut necessitatibus doloremque molestias soluta hic, repudiandae
          iure. Praesentium atque totam suscipit eum laborum ipsa cum laudantium
          quod soluta, numquam dolores perspiciatis iusto ullam, nulla quasi
          quia illum, sint iste error harum commodi nihil dignissimos et. Non,
          accusamus tenetur? Provident quis voluptas nesciunt, deserunt quaerat
          sed itaque ullam alias, obcaecati amet qui. Possimus mollitia fuga
          maxime? Culpa maiores sequi rem error necessitatibus, aperiam
          excepturi assumenda unde nesciunt repellendus odio mollitia modi quae
          aut? Ad eaque unde, iusto facere nihil illum officia voluptatem
          perferendis fugiat vel quis quos, modi dicta voluptatum distinctio,
          sapiente suscipit maiores nulla corporis eius eveniet! Sed fugit
          incidunt, dolor molestias optio veniam assumenda eos voluptatum
          distinctio, excepturi ab ipsum voluptate nostrum eligendi corrupti
          cumque nobis? Repellat illo neque, exercitationem nostrum voluptate
          quia optio facere saepe nihil. Error exercitationem facilis inventore
          veniam esse dolorum! Ipsam corrupti nemo, quis consequatur iusto
          cupiditate tenetur fugit autem beatae voluptatibus at? Sint itaque ex
          voluptas quis omnis, quos ipsa unde dignissimos nam sequi aspernatur
          illo, repudiandae eligendi! Incidunt sunt culpa ipsum ullam
          perferendis cumque esse iste doloribus. Facilis explicabo beatae, est
          consectetur quidem nulla vel consequatur quis! Sed pariatur, mollitia
          facilis est vero blanditiis nam sunt animi voluptate dolorem
          perspiciatis similique, architecto deleniti, ipsam praesentium id
          nulla? Esse culpa hic odit omnis quidem. Laborum itaque eos earum quis
          deleniti excepturi. Ab nemo ratione ex rem corporis odit explicabo
          reprehenderit, porro consequatur ducimus! Repellendus expedita labore
          voluptates sit, perferendis cum eaque veniam quam mollitia, esse
          suscipit provident illo magni itaque, cupiditate totam! Repellat
          possimus provident vel assumenda eveniet tempore molestiae totam
          numquam consequuntur veniam inventore nam quasi cumque ullam ipsa iste
          temporibus, voluptatem dolor eius, molestias aut impedit aperiam!
          Repellat doloremque praesentium, ab suscipit eligendi placeat
          consequuntur pariatur tempore ex atque facere esse earum. Repudiandae
          cumque quam nulla illum nobis, ut doloribus veniam quaerat sunt, vero
          sapiente, delectus asperiores similique aut adipisci tenetur natus
          consequuntur velit. Autem ab commodi recusandae consequatur
          accusantium natus corporis temporibus impedit possimus. Aliquam quod
          assumenda dolorum placeat, a eligendi nisi? Culpa voluptatibus earum
          sed! Facere impedit ipsum voluptate quaerat dolor voluptas ex quia
          nihil debitis veritatis, excepturi inventore itaque delectus
          voluptatem vero molestiae error eaque accusantium ratione vitae
          deleniti et dolorem! Harum quasi in quam nam ut, magnam voluptate aut,
          sit libero sint unde impedit odit provident labore? Natus ab ut iusto
          officiis molestias tempore mollitia saepe aliquam dicta ipsa. Ipsum
          laborum ullam, a esse nisi maiores natus minus eius cumque facilis
          tempora rerum eaque cum quasi officiis pariatur ducimus beatae nulla
          qui! Magni natus nihil dolor optio, minus rerum numquam dolore sunt
          quaerat velit atque ea. Doloribus ea illum nobis sequi pariatur
          tempora alias odio dolorem impedit, ab architecto repellendus eum,
          placeat voluptas asperiores perspiciatis repudiandae! Veniam deserunt
          maiores incidunt sequi autem laboriosam provident, qui voluptate error
          earum eveniet aliquam fuga atque repudiandae ea ipsum dolor ut minus
          perferendis dolores dolorum recusandae at accusamus cumque! Eos vel
          hic praesentium quae qui minus, dicta omnis quidem soluta cupiditate
          facilis necessitatibus esse inventore corrupti. Dignissimos adipisci
          atque eligendi omnis assumenda quos unde itaque obcaecati temporibus
          modi at sunt doloribus voluptatibus perspiciatis consequuntur ipsa
          quasi veritatis repellendus esse aliquid, ad reprehenderit quod a
          debitis? Fuga ipsum minus non molestias. Incidunt, necessitatibus
          consequuntur labore reiciendis, ratione voluptates vero eligendi harum
          dicta sequi aut reprehenderit repellat laboriosam asperiores odit illo
          nam. Dolor reprehenderit dolores ipsam excepturi natus consectetur
          eaque rem? Ea, quibusdam ratione sint, molestias delectus dicta sequi
          repudiandae aperiam enim at repellat nemo similique libero quisquam
          praesentium reiciendis quidem dolores? Adipisci nobis accusamus
          libero. Illo, illum! Architecto blanditiis, aut eveniet laudantium id
          nesciunt et, sunt totam ratione quaerat deleniti molestias at dolor
          hic dignissimos corrupti nisi? Minus reiciendis quos laboriosam est
          ipsam iure nesciunt, dolorum debitis repellat maiores ea earum saepe
          architecto nihil id, porro hic dignissimos impedit, quas illum
          voluptate nam? Cupiditate incidunt explicabo ducimus suscipit earum,
          quia harum nisi itaque repellendus quam. Itaque, dolore obcaecati
          optio accusantium enim corrupti quisquam laudantium modi vitae dicta
          laboriosam sit sint atque, maxime, doloribus a iste labore excepturi
          magnam quia! Quam beatae ab mollitia sunt accusamus expedita quasi
          quod, ipsum cumque cum corporis rem, rerum dicta quia deserunt sequi
          ipsa vel nobis libero eius totam modi. Quibusdam quidem numquam libero
          accusantium deleniti repellendus saepe excepturi dignissimos nostrum
          hic culpa odit, consequatur pariatur? Illum quos facilis, architecto
          ipsum rerum odit voluptas? Explicabo necessitatibus, porro animi
          laboriosam voluptate voluptatibus magni nam tenetur laudantium tempore
          aperiam, odit corporis quas officia, provident est eum praesentium
          voluptatum! Facere architecto expedita tempore error autem molestiae
          fugit, adipisci commodi reiciendis fugiat neque corporis explicabo est
          sit quisquam consequuntur dolorum porro? Non earum delectus deserunt
          possimus molestias cum distinctio cupiditate quam autem assumenda
          porro itaque, quia sequi doloremque exercitationem eligendi quos
          molestiae blanditiis rem. Voluptate soluta, nobis repellat incidunt
          magnam, odit fugiat, totam ex alias ipsa pariatur! Ipsum rem dolorum,
          harum praesentium laborum delectus aut, quasi fuga blanditiis mollitia
          nobis id molestiae possimus excepturi similique libero! Temporibus,
          quidem praesentium nisi ad aut nemo ex est qui mollitia aliquid quos
          magni. Dolor reiciendis quidem numquam delectus libero enim dolore,
          unde nemo odio doloremque aperiam expedita tempore harum natus facilis
          doloribus ratione ex corporis, non impedit quis suscipit! Minima vitae
          voluptas amet quisquam earum dolore explicabo consectetur laboriosam
          eaque eligendi neque similique voluptatem reprehenderit officia
          corrupti dolorem incidunt necessitatibus qui adipisci, ullam suscipit
          nostrum facere! Rem, ullam? Itaque eum rem est, ab nam quia numquam
          dicta officiis facilis dolore aliquam! Cupiditate, expedita. Eius
          aliquid accusantium, dolorem doloremque non maiores sunt dolores quia
          itaque, a tempora iste nesciunt illo dolorum nemo dignissimos, placeat
          ut incidunt suscipit? Corporis asperiores molestiae quod, voluptates
          accusantium ipsa, temporibus vero quam ut odit, ipsam neque aperiam
          suscipit incidunt illo expedita et architecto fuga. Laudantium officia
          quis maxime corporis expedita sint iste non architecto quos corrupti
          optio magni laboriosam, quidem iure facere distinctio et quam eum.
          Iste soluta molestiae voluptate itaque eum dolores laudantium commodi
          minus doloremque debitis quibusdam repudiandae ipsa eveniet quasi
          porro omnis, ipsum et illum totam nam perferendis iure? Esse
          distinctio accusamus eveniet. Quae assumenda doloribus quis tempore
          vero officiis pariatur iure praesentium dignissimos, obcaecati error
          consectetur optio repellendus necessitatibus numquam magnam, nisi
          quidem minima sit ea officia autem distinctio, quam cupiditate. Nemo
          tempore tenetur unde perspiciatis quasi libero, eius fuga pariatur
          amet beatae commodi molestias esse? Voluptatem, neque. Culpa aut ex
          fuga, harum enim, similique est repudiandae sit tempora nemo
          cupiditate iusto exercitationem voluptas natus qui, consectetur
          corrupti earum eum error in neque sunt ipsum. Accusamus incidunt totam
          iure. Aliquid sapiente expedita saepe, voluptatibus possimus commodi
          aliquam voluptatem, consequuntur repudiandae quae alias iste quasi
          beatae nemo eveniet consectetur! Ea, adipisci iure vero porro qui
          similique quidem repellat omnis aliquid nobis ex placeat amet et iste
          nulla ipsa ipsum facere reiciendis distinctio, quo culpa debitis saepe
          est! Fugit sequi quae quis accusantium nobis placeat eius omnis, enim
          nulla? Iure, totam facere magni distinctio maxime praesentium ipsam,
          sit aliquid veniam natus est ipsum quae quibusdam accusantium
          consequatur rerum? Quas sapiente nostrum et praesentium? Nulla
          adipisci accusantium, porro in esse incidunt enim rerum quasi hic
          natus odit numquam cupiditate neque, architecto quo. Cumque maxime
          porro eius molestiae nisi necessitatibus iusto voluptate! Blanditiis
          distinctio similique a sit modi in nihil aliquid voluptatibus, hic
          doloribus quis veniam accusamus placeat quos nulla asperiores labore
          dicta dignissimos excepturi voluptatem nesciunt. Accusantium,
          adipisci, asperiores architecto nulla ea unde nobis atque facilis
          perspiciatis sunt temporibus eveniet facere sapiente soluta
          reiciendis. Illum, ipsum reprehenderit. Ducimus, qui perspiciatis.
          Animi magnam sint minus, voluptatum laudantium modi maxime veniam,
          esse dolorum ab quam, quidem suscipit at fugit nam consequatur in quas
          velit omnis id impedit nostrum hic? Quidem quas corporis eligendi!
          Ratione tempora quaerat sint voluptatum velit itaque, molestiae unde
          quod autem nemo accusantium mollitia rem, tempore magnam ipsam quis
          necessitatibus similique, vel libero eligendi explicabo porro vero
          provident ex? Illum nisi eos adipisci autem! Unde architecto minima
          repudiandae dolorem rem, quos, ea voluptate, sequi reprehenderit
          delectus quam eaque natus mollitia at temporibus dignissimos in magni
          quidem. Eaque dolores modi deleniti id esse sapiente impedit fugit
          culpa odit, eius quo reiciendis hic atque. Ea tempora dolorem impedit
          tempore obcaecati quam libero, a voluptatem. Minima itaque, quos
          labore quibusdam animi placeat quis culpa fuga, dolorem, id soluta
          maiores vitae tempora numquam ab aspernatur est dolorum dolor. Saepe
          consectetur, quae nulla consequuntur laborum, at quia reprehenderit
          provident architecto optio beatae. Facilis exercitationem neque
          dolorum beatae unde vel! Facilis, consequatur suscipit! Enim
          asperiores expedita mollitia eaque ut harum minus, facere incidunt
          debitis nisi consequatur, voluptatum reprehenderit illo quas
          excepturi, totam sapiente. Nam recusandae earum, commodi, ullam
          dignissimos aliquid voluptas quasi ex non dolorum esse atque
          consequatur error itaque at perspiciatis officiis delectus
          consequuntur assumenda. Suscipit veniam corporis accusantium nesciunt,
          ex pariatur quos nihil ipsa quae dolorem unde tempore delectus
          voluptates cupiditate est veritatis et nulla? Commodi a pariatur ullam
          dolores odio iusto, deserunt facilis qui fugit atque praesentium
          expedita ipsa. Accusamus, explicabo sequi. Alias eligendi culpa,
          reiciendis animi illo labore mollitia. Molestiae voluptate in, nostrum
          dolores consectetur corporis sit accusamus. Dolores, obcaecati ab?
          Recusandae consequuntur distinctio error facere explicabo reiciendis
          deserunt enim velit nihil! Nam provident natus vitae odio vero,
          dolorem nihil aliquam veritatis cupiditate alias delectus, id
          blanditiis vel atque dolore ea ducimus modi ipsa distinctio labore
          enim. Dolores, magnam? Aut maxime quod provident? Sequi explicabo sed
          molestiae voluptas, iusto odit nostrum possimus, illum quos enim
          exercitationem eveniet quod maiores eum culpa esse vel, corporis
          recusandae repudiandae facilis ab aliquam debitis totam. Sed ut saepe,
          itaque modi eum perspiciatis a optio non sapiente incidunt perferendis
          reiciendis ullam voluptate magni ducimus, ab placeat omnis corporis
          libero distinctio. Ab maiores nesciunt fugit cumque, voluptatibus
          animi voluptas pariatur minima debitis consequatur totam voluptatum
          accusamus ad delectus ut maxime voluptatem. Perspiciatis optio
          inventore blanditiis fuga quibusdam deserunt doloribus placeat ex
          doloremque, sint itaque illo distinctio adipisci dignissimos, eos
          corrupti eveniet quas nostrum saepe exercitationem in minus ratione,
          odio debitis. Itaque, alias sequi? Est facere odio, dolore quia
          perspiciatis facilis architecto ad eaque harum voluptatibus impedit
          voluptate cumque molestiae nam, ea sunt sit dolores officiis enim quos
          temporibus ut in! Distinctio recusandae sed, in beatae, ipsum quas
          iste rem illum, ab magnam quos officiis quasi! Iure, suscipit delectus
          molestias non atque ut, a labore, placeat expedita doloremque ad!
          Debitis, sapiente id. Cumque dolore harum dolorem, similique placeat
          aliquid reprehenderit excepturi dolores cum perspiciatis beatae
          cupiditate hic suscipit consectetur repellendus minima quo porro ad
          libero vel culpa ex recusandae iste blanditiis! Accusantium, nihil.
          Voluptatum necessitatibus velit culpa ullam sed, dolorum numquam!
          Autem corporis explicabo molestias recusandae aperiam delectus
          repellendus quod facere repellat debitis pariatur porro aliquam
          excepturi, obcaecati nam voluptates cumque. Doloribus aliquid fugit
          pariatur quaerat ab nostrum at voluptatem laboriosam eveniet neque
          quis architecto amet dignissimos officiis doloremque unde
          exercitationem deserunt asperiores, accusamus dolores vitae aliquam
          debitis ex commodi. Adipisci, veniam natus explicabo exercitationem
          dolore quibusdam omnis illum, recusandae eveniet autem expedita non
          dignissimos delectus beatae tempore ducimus cumque at reprehenderit?
          Eveniet saepe eaque maxime nostrum, cum beatae quasi unde. Architecto
          neque culpa libero, nisi totam voluptatem maxime veniam, fuga placeat
          iste, consequuntur sequi accusamus natus quis? Laborum qui earum
          necessitatibus veniam perspiciatis delectus nobis dignissimos eveniet
          enim est ad illo labore nihil, tempora dolorem praesentium eligendi
          voluptatum aperiam commodi. Nisi quam harum perferendis. Voluptate,
          voluptates possimus corporis iusto qui doloremque odio, facere eius
          enim, minima totam mollitia nihil et assumenda esse? Fuga culpa
          necessitatibus repellat totam nam incidunt quia illo, sunt impedit
          consequatur itaque quis odio doloribus explicabo libero quam sit ullam
          harum praesentium labore! Id aperiam autem, doloremque repellendus
          ipsam ratione dolorem facere, reprehenderit ea laudantium nostrum
          assumenda? Vitae iusto repudiandae ex laudantium? Aperiam culpa ea
          error, delectus veritatis harum ad eveniet dicta repudiandae iste
          sapiente voluptatum provident aliquam ab ullam molestiae officiis
          voluptatem mollitia, ipsam dignissimos doloremque dolorem adipisci!
          Voluptatum, nobis unde sint pariatur nostrum aut tempora ducimus
          suscipit doloribus culpa laborum nemo accusantium blanditiis corrupti
          impedit qui est modi voluptatem consequatur labore exercitationem
          totam quia sapiente? Qui, dignissimos dolores. Maxime id laboriosam
          nostrum. Illo aliquid alias velit animi quia temporibus modi quidem
          officiis fuga optio eveniet impedit provident iure asperiores ullam
          voluptatum maxime inventore, vero suscipit error deleniti expedita
          cum? Accusamus error sequi praesentium. Quidem pariatur vel sit! Earum
          in maxime architecto quam? Quasi repellat ut, porro officiis eius, qui
          voluptatibus, amet rerum cum vitae aliquid laborum nihil aliquam odit!
          Omnis ipsa harum animi sint fugit libero et facere incidunt recusandae
          quae, ratione esse, eveniet beatae. Libero blanditiis esse porro
          voluptatem aliquid tempora cumque tenetur ut dignissimos, in rerum
          voluptate. Quisquam ea eligendi iste nostrum ad. Quas, et! Nam
          corporis aliquam dicta accusantium quibusdam consequuntur distinctio
          cum corrupti, amet architecto autem laborum aspernatur eos voluptatum
          incidunt, quas sunt, illo a assumenda cumque porro explicabo! Ipsa
          commodi itaque nostrum eius iusto consectetur molestiae suscipit
          debitis! Culpa sed iste eius assumenda sit. Pariatur deserunt in harum
          repudiandae reiciendis ab accusantium, doloremque id cumque
          consectetur doloribus iusto eos sapiente. Tempora perspiciatis quaerat
          architecto minima labore voluptate nulla, dolores eveniet quisquam.
          Optio architecto perferendis vero deleniti nobis nihil unde, dicta
          recusandae quibusdam ullam dolorum aliquam rem eum quam aspernatur
          debitis aut delectus itaque praesentium! Est, repellendus perferendis
          nihil vero explicabo quidem molestias velit beatae corporis maiores,
          obcaecati facere sed. Ipsa, illum voluptas repudiandae asperiores
          neque modi, nisi pariatur similique, eveniet minima delectus.
          Inventore fuga nobis velit voluptatum, ab possimus a, nam aut quidem
          doloribus corrupti harum quas magnam totam! Iste, accusamus eligendi.
          Perspiciatis, natus repudiandae accusamus necessitatibus vitae fugit
          consequuntur pariatur nam sapiente laboriosam harum eligendi excepturi
          veritatis voluptate saepe cum ullam. Numquam in ipsa illum dolorum
          sed. Necessitatibus et minus laudantium id veniam vitae hic sint
          autem. Eligendi sequi voluptas itaque veniam ullam dolorem impedit
          quidem voluptatem iure. Neque tenetur sint, sequi reiciendis ad
          exercitationem cumque! Dignissimos laudantium nostrum accusamus quae
          modi, sit odio velit corporis reprehenderit quaerat, assumenda dolores
          numquam doloribus earum labore odit nobis omnis minus delectus
          deserunt et dolorem quasi aliquid! Eum nobis est iusto saepe voluptas
          voluptates? Minima, neque quasi! Vero error harum dicta. Est voluptate
          nulla provident consectetur voluptatum, esse in cum, ad autem culpa
          ullam modi debitis nesciunt necessitatibus repellat amet reiciendis
          delectus vitae. Sint quod cum laboriosam minus quo, numquam vel
          assumenda! Aperiam consequuntur voluptas suscipit, commodi nesciunt
          impedit accusamus nam delectus et cupiditate obcaecati architecto sunt
          culpa odio. Ipsa enim vero quaerat commodi? Omnis consequuntur
          asperiores possimus delectus error corrupti laudantium laborum
          sapiente aliquid repellendus quos, illo sed doloribus recusandae.
          Nesciunt placeat eius quis culpa officia fugiat quia. Quisquam earum
          in tempora ex repudiandae delectus? Dolores sint magnam modi
          consectetur corrupti a blanditiis quasi magni, ipsam perferendis iure
          ducimus ex perspiciatis voluptate quam sed eligendi est temporibus
          omnis eum quisquam aut quo! Possimus reprehenderit facilis eos nam,
          accusantium omnis beatae molestiae culpa inventore odit deserunt
          voluptate cumque dolores atque vel enim voluptatum nostrum quas nisi
          sit, adipisci quam doloribus sed alias? Sed asperiores optio animi
          debitis minus tempore quo eaque ab maiores placeat, at, exercitationem
          error repellat dicta odio sunt autem laudantium totam unde expedita
          quae dolorem eveniet, iusto itaque? Eum magni optio voluptatibus
          expedita corporis non amet ex recusandae quisquam debitis provident
          labore laudantium veritatis nesciunt ratione error dolores voluptates,
          praesentium eligendi blanditiis inventore in sequi dignissimos. Minus
          exercitationem laboriosam aliquid rem repellendus nihil velit harum id
          suscipit tempora rerum magnam quibusdam, similique provident
          voluptatem nostrum nam mollitia? Minima sint ducimus fuga quaerat
          excepturi nulla officia eveniet a omnis saepe voluptatibus quidem
          alias ipsa ullam facere quod animi, recusandae dignissimos neque rerum
          tempore architecto. Culpa, officiis a, atque rem iusto temporibus
          consectetur distinctio veritatis laborum magnam quas molestias quo
          nihil corporis iste pariatur alias sit velit! Fugit et sint quibusdam
          sapiente obcaecati maiores temporibus labore, nemo illum cupiditate
          veniam ducimus quia? Fugit, adipisci. Ad incidunt non quia natus
          aliquam molestiae, velit commodi? Dolores rerum ab soluta dolorum
          alias iste deleniti omnis sapiente fugit, non cum error similique,
          ipsa voluptatum? Error reiciendis natus sit sapiente nemo quidem
          nostrum minima vitae! Accusamus vitae porro eum explicabo ullam quam
          doloremque nesciunt neque inventore aut velit fugiat, iusto eos
          placeat corporis. Sequi ipsam saepe est, molestiae expedita mollitia
          asperiores corporis ducimus voluptatibus soluta aperiam dignissimos
          hic reprehenderit nemo doloremque quibusdam porro illo illum veniam
          voluptate quos vel iste facere laboriosam? Esse facilis culpa corporis
          officia! Possimus, sit dolore dicta exercitationem enim inventore
          dolores nostrum aut? Hic veritatis quod dolorem nihil deleniti error
          cum repudiandae fuga deserunt facere expedita, nobis optio
          accusantium, iusto commodi dolor blanditiis possimus minima
          praesentium sint non, ipsum soluta illum ab. Consectetur sed,
          assumenda nesciunt excepturi, totam ratione error atque repudiandae,
          debitis ipsum ullam minus quod nulla tenetur architecto? Perferendis
          doloremque nobis voluptas ad commodi natus quae quas nam illum iusto
          et, consequatur beatae culpa facere explicabo at quam velit eveniet
          dolores, consequuntur voluptatum porro sapiente! Quos perferendis
          earum consequatur quaerat culpa mollitia nemo ullam error similique
          ipsam. Adipisci aspernatur possimus accusantium illum deserunt. Eos
          saepe nisi, nostrum molestias ratione quisquam doloremque cum quae
          numquam eaque reiciendis unde totam illo vel illum facilis, ipsam
          expedita dolorum corrupti quam quibusdam voluptas soluta ex? Beatae
          minus quisquam sunt odio et cumque quod. Sapiente aspernatur illo
          blanditiis dicta! Voluptate quod ex ducimus! Officia eaque
          consequuntur, corporis adipisci eligendi deserunt aperiam blanditiis
          quia architecto rerum aliquam dignissimos odio error autem unde
          sapiente rem voluptates voluptate nostrum quis laboriosam temporibus
          distinctio! Vero eveniet, iure numquam ex adipisci beatae! Quo fuga
          doloribus officia possimus quos sit debitis odio voluptate voluptas
          error doloremque, ad exercitationem laborum temporibus! Cum temporibus
          ipsa doloribus quisquam quasi officia maxime! Officiis, incidunt
          assumenda officia repellat nostrum cumque est laudantium sapiente
          placeat obcaecati repellendus fugiat numquam quo! Consequatur ducimus
          perferendis vel quos aspernatur, inventore sequi tenetur itaque
          commodi pariatur? Neque, ipsa omnis! Molestias nisi voluptatibus
          quidem veritatis fugiat veniam sint voluptatum quod eos consequuntur
          repudiandae suscipit odio eum repellat consectetur possimus
          necessitatibus iure qui mollitia quia eligendi labore, in cum dolore.
          Sint, eos! Alias, corporis non? Fuga dolor magnam consectetur iste
          molestiae nisi? Unde hic id consectetur quisquam aspernatur in. Quis
          hic officiis laborum mollitia fugit quaerat veniam dolores deserunt
          esse consequatur maiores sit vel, placeat sint officia voluptates nisi
          consequuntur soluta, aliquid explicabo architecto beatae ratione
          commodi veritatis. Vitae facilis harum saepe fugiat explicabo quas
          perferendis voluptatibus placeat veritatis ullam. Ipsam officiis quam
          expedita. Nostrum sit ratione hic odit, at, assumenda libero dolore,
          molestias placeat voluptatibus laudantium sint ad consequatur.
          Doloribus ipsam unde aperiam inventore suscipit, deserunt repudiandae
          eos quia vero quo deleniti placeat natus illum ab dignissimos cumque
          dolores aspernatur repellendus libero facere enim? Consectetur
          necessitatibus tempora sed veritatis cupiditate maxime. Velit
          molestiae, necessitatibus pariatur tenetur eaque, molestias saepe
          consequuntur reiciendis accusamus expedita quia beatae amet numquam,
          suscipit a omnis eius vel. A alias nisi omnis. Consectetur libero
          fugit officiis veniam velit commodi illo doloribus impedit ut nostrum,
          asperiores, obcaecati totam explicabo quaerat laudantium tenetur!
          Adipisci, exercitationem sit. Repellendus quo, quia possimus omnis
          soluta deleniti non, quidem unde dicta culpa cupiditate nostrum
          voluptatibus repudiandae. Ducimus temporibus qui iure. Totam modi ab
          magni iure vero voluptatem mollitia? Consequatur ratione, quae harum
          perferendis reiciendis alias quasi vitae. Quo quasi pariatur, eaque et
          unde iure adipisci qui dolorum officiis velit obcaecati blanditiis
          ratione tempora ducimus mollitia distinctio error aut, accusantium
          sint eos delectus. Aspernatur illum nihil, mollitia, quis vel dolores
          ipsam accusantium, sapiente dolore repellendus suscipit veritatis
          libero fugiat saepe soluta! Voluptas assumenda debitis, provident
          voluptate dolorum blanditiis, eaque deleniti odit eum tempore iusto
          at, aliquid dicta impedit dolorem quam eius id natus soluta asperiores
          accusantium. Consequuntur quia deleniti accusamus dolore cumque
          commodi dolorum impedit, dicta placeat repellendus minima debitis
          veritatis suscipit vel voluptatum tempora expedita nemo ut quaerat?
          Quasi impedit nisi dolore eius ratione doloribus amet fugit in ab
          quibusdam neque sequi ex iste, a necessitatibus ut blanditiis minus
          explicabo. Accusamus tempora pariatur, iure dicta quaerat voluptate.
          Porro, saepe itaque ipsum quis veniam beatae assumenda dolore
          voluptates, dolores labore, sit aliquid. Unde tempora quam ex,
          praesentium ipsam iure aut labore veritatis reprehenderit dolore
          nulla, maiores animi deleniti id nesciunt sed eum dolorem. Optio
          dignissimos quisquam enim modi eaque aperiam nemo dolorum temporibus
          iure at. Molestias quos corrupti doloribus iusto consequuntur
          laudantium, vel, neque perferendis doloremque, perspiciatis sequi!
          Eius, autem! Officiis perspiciatis quia corporis nihil eius. Impedit
          deleniti dolorum, sequi rem itaque minima quas nesciunt quaerat magnam
          facere. Explicabo id est itaque quisquam voluptate nisi tempore
          molestias praesentium doloribus officiis ut magnam, iste blanditiis
          nobis ipsum. Veritatis, asperiores. Animi deserunt nihil quo minus,
          eius doloremque, rem soluta nisi autem saepe velit dicta? Vel facilis
          aliquid assumenda numquam animi, nobis quaerat praesentium iure nam
          corporis. Exercitationem labore repudiandae, maxime fugiat sequi
          impedit, expedita aut corporis inventore minima explicabo
          necessitatibus adipisci odio ipsa deserunt. Nulla consequatur, impedit
          recusandae laboriosam consectetur eos incidunt molestiae quis
          voluptates odit. Laboriosam voluptatum temporibus, perspiciatis
          eveniet id quia fuga ipsa est. Id rerum quisquam ipsa, perferendis
          fugiat pariatur, totam delectus magni reiciendis dolorum deleniti
          optio tempore, natus consequatur odio mollitia at numquam blanditiis
          suscipit repudiandae corporis? Inventore reprehenderit nesciunt eius
          adipisci qui aliquam, enim exercitationem esse nihil explicabo
          expedita voluptatem, incidunt numquam modi molestias nam quae soluta
          perspiciatis veritatis dolore cumque praesentium quos est. Fuga sit ut
          iusto, dolorem voluptates eveniet eaque, possimus architecto porro
          explicabo in inventore eum magnam rerum dignissimos tempore temporibus
          veniam reprehenderit ratione nihil autem quae sapiente ea. Nam, est
          molestiae ducimus, expedita molestias laboriosam tenetur consequuntur
          quod minus consequatur commodi quisquam facilis saepe ea reiciendis
          consectetur voluptates exercitationem. Quidem, aliquam iure, possimus
          cupiditate laudantium labore dolorem fugiat corporis repellendus, ad
          fuga libero ut accusamus a ipsa rem inventore optio nostrum nihil sunt
          itaque soluta! Soluta quo, quod dolorem maiores esse cum accusantium
          dolorum possimus eligendi ab corrupti vel magni voluptatibus. Tempore
          aliquid eos recusandae voluptatum placeat unde, quod corporis ad
          reiciendis suscipit natus, dolorem magnam doloribus molestiae impedit
          eaque nihil illo, doloremque totam. Aliquam, ducimus in placeat, ullam
          commodi quibusdam reprehenderit, nesciunt facere ab dicta id adipisci
          eaque nobis! Accusamus ut beatae et quisquam consequuntur hic ex quod
          esse quam corporis fugiat deserunt atque veniam illo nesciunt cum
          impedit porro expedita voluptatibus minima, amet quia eaque aperiam
          obcaecati? Culpa modi adipisci unde. Vel repellat quam soluta
          temporibus sit consequuntur vero nihil odio qui placeat delectus
          pariatur architecto at non repudiandae nulla eius minima autem aut,
          molestias, ex mollitia neque. Repellat temporibus voluptatum
          reprehenderit quisquam in commodi consectetur repellendus fugiat.
          Nostrum voluptate id omnis provident adipisci sapiente sit!
          Recusandae, nesciunt dignissimos vel cumque dolore magni doloribus
          dolorem esse ab odio, officiis voluptatibus rem reprehenderit in
          tenetur suscipit? Doloribus possimus sed quibusdam ab, unde optio
          laudantium corrupti, itaque illo mollitia a soluta? Natus nobis
          voluptatem animi veniam? Cupiditate temporibus perspiciatis sed modi
          animi commodi sapiente corporis magni illo placeat vitae recusandae,
          sint deserunt officiis quasi. Sint quam dicta voluptate architecto
          voluptatibus, alias accusamus. Delectus dolorem commodi ipsa fuga
          inventore! Nostrum aut, optio quam ad quasi cupiditate. Sunt deserunt,
          itaque obcaecati tenetur consequuntur aut fuga veniam, vero quam
          expedita laudantium quo a animi quae veritatis odit consectetur
          praesentium. Optio nisi dignissimos possimus? Quia animi hic
          consectetur illo, sequi incidunt esse excepturi, magni numquam quasi
          iure itaque eveniet deleniti totam recusandae fugiat sit ad dolorum ut
          quos, tempora nulla! Consectetur quas cupiditate, perferendis pariatur
          vero, blanditiis natus cum unde quisquam asperiores culpa molestias
          eum illum maiores eveniet optio enim fuga, libero facere accusamus a
          quo sapiente adipisci eaque? Numquam quam voluptates maxime laborum
          minima. Debitis nobis, temporibus inventore voluptas maiores ullam,
          sit eveniet explicabo alias ea cupiditate iure in! Aut ab enim ducimus
          iure. In asperiores unde quae libero illo nisi qui dolorem illum
          consequuntur aperiam ad, saepe rerum magni esse ex neque dolores
          doloremque dignissimos autem nam? Aut saepe expedita, ad aspernatur
          eligendi cupiditate ipsa in consequuntur praesentium laudantium
          assumenda culpa placeat vel, quidem quas dicta. Nam, aut. Laboriosam
          eligendi quae cumque omnis. Libero nobis vel, eius voluptatibus
          deleniti magni ab nesciunt accusamus adipisci cum maxime atque
          eligendi dolore deserunt esse modi totam? Odio aut maxime ab error
          animi ad laudantium, soluta sit perferendis dolorem suscipit.
        </p>
      </div>
    </div>

    <!-- search body -->
    <!-- form -->
    <div class="search-page" id="dashboard">
      <span class="close-search">&#x2718;</span>
      <form action="" class="search-form">
        <div>
          <input type="file" name="image" id="image" />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="image_name"
            id="image_name"
            placeholder="image name..."
          />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="image_description"
            id="image_description"
            placeholder="image description..."
          />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="location"
            id="location"
            placeholder="location..."
          />
        </div>
        <div>
          <input
            type="text"
            class="search"
            name="category"
            id="category"
            placeholder="category..."
          />
        </div>
        <div>
          <button type="submit" class="btn btn-outline-success">submit</button>
        </div>
      </form>
    </div>
    <!-- form -->
    <div class="search-page" id="search-panel">
      <span class="close-search">&#x2718;</span>
      <form action="" class="search-form">
        <div>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="search gallery..."
          />
        </div>
        <div>
          <button type="submit" class="btn btn-outline-success">search</button>
        </div>
      </form>
    </div>
  </body>
</html>
