{%extends 'base.html'%}
<!-- blocks -->

<!-- static -->
{% load static %}

<!-- bootstrap -->
{% load bootstrap4 %}

<!-- head block -->
{% block head %}
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'navbar.js' %}"></script>
<!-- endblock -->
{% endblock %}

<!-- animation -->
{% include 'welcome.html' %}

<!-- body block -->
{% block body %}

<!-- navbar -->
<nav class="container-fluid" id="top">
  <a class="app_badge" href="{% url 'welcome' %}">Home</a>
  <a class="categories" href="#">Categories</a>
  <a class="location" href="#">Location</a>
  <a href="#">Dashboad</a>
</nav>

<!-- back to top widget -->
<a class="widget" id="top-widget" href="#top"
  ><span>
    top
  </span></a
>

<!-- search widget -->
<span class="widget" id="bottom-widget">
  search
</span>

<div class="location_options">
  <ul>
    <li><a class="top_link" href="#">Nairobi</a></li>
    <li><a href="#">Mombasa</a></li>
    <li><a href="#">Nakuru</a></li>
    <li><a class="bottom_link" href="#">Marsabit</a></li>
  </ul>
</div>
<div class="category_options">
  <ul>
    <li><a class="top_link" href="#">Food</a></li>
    <li><a href="#">Lifestyle</a></li>
    <li><a href="#">Sports</a></li>
    <li><a class="bottom_link" href="#">Memes</a></li>
  </ul>
</div>

<!-- app body -->
<div class="app-body container">
  <!-- should be grid -->
  <div class="card-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate porro
      non accusantium in ab temporibus impedit fuga vitae quam hic, obcaecati
      illo nemo tempora adipisci quas laborum dicta voluptas aut.
    </p>
  </div>
</div>

<!-- search body -->
<div class="search-page">
  <span class="close-search">&#x2718;</span>
  <form action="" class="search-form">
    <div>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="search gallery..."
      />
    </div>
    <div>
      <button type="submit" class="btn btn-outline-success">search</button>
    </div>
  </form>
</div>
<!-- endblock -->
{% endblock %}
